@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-primary: hsl(0, 0%, 95%);
}

.bg-main {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.bg-main::before {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  content: url("https://image.shutterstock.com/image-vector/cartoon-cute-hand-drawn-cinema-600w-482053549.jpg");
  opacity: 0.1;
}
